table{
    background-color: #808080;
    margin: auto ;
}
#result{
    width:176px;
}
.btn{
    width:34px;
    height:32px;
}
#equal{
    width:34px;
    height:66px;
}
#zero{
    width:72px;
    height:32px;
}